.form {
  label {
    font-size: 16px;

    abbr {
      color: #981b1e;
    }
  }

  input.string, input.numeric, textarea, select {
    border: 1px solid #ddd;
    border-top-color: #ccc;
    padding: 5px 10px;
    background: #fff;

    &:hover {
      border: 1px solid #bbb;
      border-top-color: #aaa;
    }
  }

  input, textarea {
    &:focus {
      box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
    }
  }

  .input {
    &.integer, &.string, &.tel, &.email, &.select, &.text {
      margin-bottom: 10px;
    }
  }

  .field_with_errors {
    input, textarea, select {
      border: 2px solid #cd2026;
      &:hover {
        border: 2px solid #cd2026;
      }
    }
    .error {
      display: block;
      margin-top: 3px;
      color: #cd2026;
    }
  }

  &--standard {
    label {
      display: block;
      margin-bottom: 2px;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }

  &--horizontal {
    label {
      display: block;
      float: left;
      width: 150px;
      line-height: 30px;
      text-align: right;
      padding-right: 20px;
    }

    input {
      &.string, &.numeric {
        width: 50%;
      }
    }

    textarea {
      width: 50%;
    }

    select {
      width: 50%;
    }

    .error {
      margin-left: 150px;
    }

    .hint {
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      font-size: 15px;
      color: #888;
      padding-top: 7px;
    }
  }
}
