.header {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  min-height: 50px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  background: #112e51;
  color: #fff;

  &__logo {
    // TODO change to svg/png
    font-family: 'Russo One', "Helvetica", "Arial", sans-serif;
    line-height: 50px;
    font-size: 20px;
    float: left;
    display: block;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &__last {
      color: #3C88B5;
    }
  }

  &__languages {
    float: right;
    overflow: hidden;
    height: 29px;
    width: 110px;
    position: relative;
    margin-top: 10px;
    margin-right: 30px;

    &:before {
      content: " ";
      position: absolute;
      right: 8px;
      top: 12px;
      border-top: 5px solid #fff;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    &:hover {
      overflow: visible;
      &:before {
        border-top: 5px solid #fff;
      }
      ul {
        border: 1px solid #fff;
      }
    }

    ul {
      z-index: 999;
      border: 1px solid #112e51;
      background: #112e51;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 13px;
        text-transform: uppercase;
        border-top: 1px solid #aeb0b5;

        &.first {
          border-top: 0;
        }

        a {
          padding: 6px 10px 6px 10px;
          display: block;
          text-decoration: none;
          color: #fff;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
            //text-shadow: 0 0 1px #fff;
          }
        }
      }
    }
  }


  &__advert {
    @extend .buttons;
    @extend .buttons--main;
    float: right;
    position: relative;

    &__free {
      position: absolute;
      bottom: -23px;
      left: 50%;
      line-height: normal;

      &__text {
        position: relative;
        left: -50%;
        text-align: center;
        background: #f9dede;
        color: #222;
        font-size: 14px;
        font-weight: normal;
        border-radius: 3px;
        padding: 2px 10px;
        white-space: nowrap;

        &:after {
          position: absolute;
          left: 50%;
          top: -5px;
          content: '';
          margin-left: -5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid;
          border-bottom-color: #f9dede;
        }
      }
    }
  }
}
