.items {
  list-style: none;
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;
  margin: 0 0 30px;

  &__item {
    display: table;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;

    &--first {
      border-top: 0;
    }

    &__photo {
      display: table-cell;
      vertical-align: middle;
      width: 140px;
      height: 110px;

      &__image {
        width: 120px;
        height: 90px;
        display: block;
      }
    }
    &__primary {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;

      &__name {
        margin-bottom: 5px;
        display: block;
      }

      &__condition {
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        color: #888;
      }
    }
    &__category {
      display: table-cell;
      vertical-align: middle;
      width: 150px;
      text-align: left;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
    }
    &__price {
      display: table-cell;
      vertical-align: middle;
      width: 70px;
      text-align: right;
      font-size: 14px;
      font-weight: bold;
    }
    &__date {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
      text-align: right;
      font-size: 14px;
      color: #888;
    }
  }
}
